html,
body {
  font-family: 'Cutive Mono', monospace !important;
  font-size: 1em !important;
  width: 100%;
  height: 100%; }
  html .container-init,
  body .container-init {
    position: relative;
    min-width: 100%;
    min-height: 100%; }
    html .container-init header nav,
    body .container-init header nav {
      background: linear-gradient(black, rgba(0, 0, 0, 0));
      padding: 1em;
      position: absolute;
      width: 100%; }
      html .container-init header nav h1,
      body .container-init header nav h1 {
        font-size: 1.5em !important;
        color: white !important; }
      html .container-init header nav .navbar-text,
      body .container-init header nav .navbar-text {
        color: white; }
    html .container-init #rowInitDown,
    body .container-init #rowInitDown {
      cursor: pointer; }
    html .container-init canvas,
    body .container-init canvas {
      z-index: -1;
      position: fixed; }
    html .container-init #particles-js,
    body .container-init #particles-js {
      z-index: -2;
      position: fixed;
      min-width: 100%;
      min-height: 100%;
      background: url(../img/estrellas_0.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      color: white;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column; }
      html .container-init #particles-js .iconRow,
      body .container-init #particles-js .iconRow {
        align-self: flex-end; }
  html #page,
  body #page {
    background: repeating-linear-gradient(33.333333deg, rgba(0, 0, 0, 0) -34em, rgba(0, 0, 0, 0) 0em, #E2E2E2 0em, #E2E2E2 31em) !important;
    position: relative; }
    html #page nav,
    body #page nav {
      background: linear-gradient(black, black);
      padding: 1em;
      width: 100%; }
      html #page nav h1,
      body #page nav h1 {
        font-size: 1.5em !important;
        color: white !important; }
      html #page nav .navbar-text,
      body #page nav .navbar-text {
        color: white; }
    html #page .contain-header,
    body #page .contain-header {
      padding: 3em; }
      html #page .contain-header li,
      body #page .contain-header li {
        padding: 1em;
        flex: 1;
        margin-right: 5em;
        background: white; }
      html #page .contain-header .header-grafica,
      body #page .contain-header .header-grafica {
        min-height: 150px; }
    html #page .app-content,
    body #page .app-content {
      background-color: white !important;
      min-height: 500px; }

.btn-scroll-down {
  width: 100px;
  height: 50px;
  position: absolute;
  bottom: 5px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  -webkit-transition: display 0.5s easy-in-out;
  transition: display 0.5s easy-in-out; }

.btn-scroll-down:before {
  bottom: 20px;
  width: 60px;
  height: 60px; }

.btn-scroll-down:after {
  width: 30px;
  height: 30px;
  bottom: 35px;
  -webkit-animation: sc-down-a 0.3s infinite alternate;
  animation: sc-down-a 0.3s infinite alternate; }

.btn-scroll-down:before,
.btn-scroll-down:after {
  content: '';
  display: block;
  border-bottom: 5px solid #fff;
  border-right: 5px solid #fff;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  margin: auto;
  position: absolute;
  left: 0;
  right: 0; }

@keyframes sc-down-a {
  0% {
    bottom: 35px; }
  0% {
    bottom: 30px; } }

/*# sourceMappingURL=index.css.map */
